*{
  margin:20px;
}
div.topnav{
  background-color: aliceblue;
  overflow: auto;
  white-space: nowrap;
}
div.topnav a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div.topnav a:hover{
  background-color: bisque;
}

  .bg-img {
  min-height:380px;
background-image: url('2.png');
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
